*{
	box-sizing: border-box;
}
h1
{
	text-align: center;
	margin-bottom: 50px; 
	font-family: cursive;
}
.row
{
	width: 100%;
	position: relative;
}
#Title1,#Title2,#Title3
{
	border: 1px solid black;
	font-family: cursive;
	width: 100px;
	padding: 5px 15px;
	text-align: center;
	position: absolute;
	right: -0.1%;
	top: -1%;
}
#Title1
{
	background-color: #ff5c33;
}
#Title2
{
	background-color: #ace600;
}
#Title3
{
	background-color: #bf80ff;
}
.col
{
	position: relative; 
	border: 1px solid black;
	float: left;
	background-color: #66ffd6;
	margin-left: 15px;
	margin-bottom: 15px;
}
p
{
	margin-top: 50px;
	margin-bottom: 10px;
	padding: 0px 10px;
	font-family: cursive;
}
@media(min-width: 992px){
.col{
	width: 31.8%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
.col{
	width: 47.6%;
	}
.col:nth-child(3){
	width: 97%;
	}
}
@media(max-width: 767px){
.col{
	width: 96%;
	}
}